/**
 * Toolkit styles
 */

@import 'base/mixins/rem',
	'base/mixins/css-arrow',
	'base/mixins/rounded-corners';
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import 'vendor/susy';
/*set up sussy defaults*/
$susy: (
  columns: 15,  // The number of columns in your grid
  gutters: 0, // The size of a gutter in relation to a single column
  container: 1180px//,
   //debug: (image: show)

);

@import 'util/variables',
	'util/functions',
	'util/mixins',
	'util/helpers';

@import 'base/index',
	'base/fonts',
	'base/typography';

@import 'vendor/normalize';
